dash
pandas
numpy
requests
-e git+https://github.com/twintproject/twint.git@4b30fa33991ccdf89c77471382daad3d3bc8c988#egg=twint
matplotlib
textblob
dash-bootstrap-components
sklearn
nltk
seaborn
plotly
twitter
tabulate
nest-asyncio==1.4.1
